:root{
    --temporary:rgb(179, 179, 49);
    --permanent:yellow;
    --background:grey;
}

.container{
    height:500px;
    background-color: rgb(4, 7, 0);
    padding:20px;
}

.container span{
    background: linear-gradient(90deg,grey,grey);
    display: inline-block;
    width: 50px;
    height:50px;
    border:5px solid white;
    border-radius: 50%;
    transition: .5s background-color;
    cursor: pointer;
}


.container span.half {
    background:linear-gradient(90deg,var(--temporary),var(--temporary),var(--temporary),var(--temporary),var(--background),var(--background),var(--background),var(--background))
}

.container span.active {
    background:linear-gradient(90deg,var(--temporary),var(--temporary))
}

.container span.final {
    background: none;
    background-color: var(--permanent);
}

.container span.final.half {
    background:linear-gradient(90deg,var(--permanent),var(--permanent),var(--permanent),var(--permanent),var(--background),var(--background),var(--background),var(--background));
}

.container span.final.final-half{
    background:linear-gradient(90deg,var(--permanent),var(--permanent),var(--permanent),var(--permanent),var(--background),var(--background),var(--background),var(--background));
}

.orig {
    cursor:not-allowed !important;
    pointer-events: none;
}