#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

#container h2{
    text-align: center;
    width:100%;
}

#container #buttons span{
    display: inline-block;
    width:50px;
}

.d-none{
    display:none;
}